*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(238, 217, 217);
}
header{
    
    width: 90%; 
    margin: 50px auto;
    display: flex;  
    justify-content: space-between;
}

.btn{
    background-color:rgb(74, 74, 233);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color:   rgb(27, 27, 105);
    cursor: pointer;
    transition: 0.8s;
}
#highlight-section{
    
    width: 70%; 
    margin: 50px auto;
  }
#highlight-section > h2{
    text-shadow: 2px 2px #ffa7a7;
    font-size: 50px;
    font-weight: 800 ;
    text-align: center;
    margin-bottom: 25px;

}
#highlight-section > p{
    margin: 0 auto;
    width: 50%;
   color: rgb(114, 113, 113); 
   text-align: center;
   margin-bottom: 25px;
}
#Buy-now-button{
    display: flex;
    justify-content: center;
}
#cover-image-section{
    border: 2px solid orange;
    width: 70%;
    margin: 50px auto;

}
#cover-image-section img{
    width: 100%;
}

